/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
/* timer */
    .input-timer-button {
      display: flex;
      
    }
.timer {
  display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 24px;
width: 346px;
height: 72px;
margin-left: 56px;
}
.button-timer {
  display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 10px;
border-radius: 8px;
padding: 8px 16px;
width: 75px;
height: 40px;
background: #cfcfcf;
}
.value {
font-size: 40px;
}
.input-timer {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
padding: 8px;
gap: 8px;
width: 355px;
height: 20px;
margin-left: 56px;
}
/* Snackbar */
.form {
    /* margin: 0px auto; */
     width: 360px;
/* height: 78px;  */
}
.input-snackbar {
  display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 10px;
border-radius: 4px;
padding: 8px 16px;
width: 360px;
height: 40px;
}
.fieldset-snackbar {
    display: flex;
/* align-items: center; */
justify-content: center;
/* flex-direction: row; */
gap: 100px;
border-radius: 4px;
padding: 16px 16px;
width: 360px;
/* height: 48px; */
text-align: start;
margin-bottom: 90;
text-size-adjust: 30px;
text-wrap: wrap;
}
.button-snackbar {
  display: flex;
justify-content: center;


gap: 10px;
border-radius: 8px;
padding: 8px 16px;
width: 400px;
background: #4e75ff;
}
  
    