/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
.timer {
  display: flex;
    width: 236px;
    margin: 0 auto;
}

/* 
width: 300px;
    margin: 0 auto;
    
    input
        display: block;
    width: 319px;
    margin: 10px auto;
}
    */

    .test-class {
      margin: 0px auto;
      width: 300px;
    }
    